.ordenarCards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    text-align: center;
    width: 350px;
    height: 450px;
    margin: 20px;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.imagen{
    height: auto;
    width: auto;
}