<div>
  <button class="btn btn-success" routerLink="/restaurante/nuevo">Crear restaurante</button>
</div>
<div class="ordenarCards">
  <div class="card" *ngFor="let restaux of listaRestaurantes">
    <div class="card-body">
      <img src="../../../assets/imgrest.jpg" alt="" class="imagen">
      <h5 class="card-title">{{restaux.nombre}}</h5>
      <p class="card-text">Especialidades: {{restaux.especialiadad1}}-{{restaux.especialiadad2}}-{{restaux.especialiadad3}}</p>
      <button class="btn btn-primary " (click)="openModal(restaux)">Más información</button>
      <button class="btn btn-danger mt-2" (click)="deleteRestaurante(restaux.id)">Eliminar Restaurante</button>
      <button class="btn btn-warning mt-2" (click)="modificarRestaurante(restaux)">Modificar Restaurante</button>
    </div>
  </div>
</div>



