<div class="form-group">
    <label for="busqueda">Búsqueda de Restaurante</label>
    <input type="search" #cajabusqueda (keyup)="busqueda1()"  class="form-control" id="busqueda" name="busqueda" aria-describedby="busqueda" placeholder="Intro nombre barrio o especialidad">  
</div>
<div class="ordenarCards" *ngIf="cajabusqueda">
    <div class="card" *ngFor="let restaux of listaRestaurantes">
      <div class="card-body">
        <img src="" alt="" class="imagen">
        <img *ngIf="restaux.fotoHashCode" src="{{ruta_servicio_foto}}/{{restaux.id}}" class="card_img" alt="...">
        <img *ngIf="!restaux.fotoHashCode" src="../assets/imgrest.jpg" alt="" class="imagen">
        <h5 class="card-title">{{restaux.nombre}}</h5>
        <p class="card-text">Especialidades:
          {{restaux.especialiadad1}}-{{restaux.especialiadad2}}-{{restaux.especialiadad3}}</p>
          <button class="btn btn-primary" (click)="restauranteTocado(restaux)">Mapa</button>
          <button class="btn btn-primary " (click)="openModal(restaux)">Más información</button>
      </div>
    </div>
  </div>
<!--(keydown.enter)="busqueda2()" (search)="busqueda3()"-->
<app-mapa #mapas></app-mapa>
<button class="btn btn-primary" (click)="encuentrame()">ENCUÉNTRAME</button>